<div class="page-header"> 
	<div> 
		<h1><%= @user.full_name %></h1> 

		<% if signed_in? %>
			<div id="friend-status">
				<% if current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
					<%= link_to "Update friendship", edit_user_friendship_path(friend_id: @user), class: 'btn' %>
				<% else %>
					<%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: 'btn', id: 'add-friendship', data: {friend_id: @user.to_param} %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>  
	<div> 
		<h3> Favorite Books </h3> 
		  <p> <%= @user.favorite_books %> </p> 
		  <h3> Hobbies </h3> 
		  <p> <%= @user.hobbies %> </p> 
	</div>
	<div> 
		<h3> Posts </h3>
<% if @statuses %> 
	<% @statuses.each do |status| %>
		<div class='well'> 
		<%= status.content %> 
		<hr /> 
		<%= link_to  time_ago_in_words(status.created_at), status_path(status) %> ago
		</div>  

	<% end %> 
<% end %> 



