<%= simple_form_for(@status, html: {class: "form-horizontal"}) do |f| %>
<h3> <%= current_user.full_name %> </h3> 
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <% #another possible code <%= f.input :user_id, collection: User.order(:first_name), selected: current_user, label_method: :full_name %>

  <%= f.input :content %> 
    <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
