<!DOCTYPE html>
<html>
<head>

  <title>Otter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse  navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">VANDOONA</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "Statuses", statuses_path %></li>
              <li><%= link_to "Contact Us" %></li>
              <li><%= link_to "Cart" %></li>
            </ul>
          </div> 
          <ul class="nav pull-right"> 
            <% if user_signed_in? %> 
               <%= link_to current_user.full_name %>  <br /> 
                  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link, logInLogOut' %> |
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link, logInLogOut'  %>
            <% else %> 
                  <%= link_to "Register", new_user_registration_path %> |
                  <%= link_to "Log in", new_user_session_path %>   

              <% end %> 
          </ul> 
      </div>
    </div>
  </div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container-fluid container ">



<%= yield %>

</body>
</html>
